<!DOCTYPE html>
<html lang="en">
<head>
    {% if environment in ['staging', 'prod'] and ga_tracking_id %}
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking_id }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ ga_tracking_id }}');
    </script>
{% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', path='/images/favicon.svg') }}">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Header Component -->
    {% block header %}
        {% include 'components/web_header.html' %}
    {% endblock %}

    <!-- Main Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer Component -->
    {% block footer %}
        {% include 'components/web_footer.html' %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>
